  body {
    margin: 0;
    font-family: sans-serif;
  }
  
  header {
    display: flex;
    background-color: #f8c963;
    align-items: center;
    padding: 30px;
  }
  
  .imagen_encabezado {
    width: 150px;
    height: 150px;
    background: #f5b85d;
    margin-right: 20px;
  }

  .texto_encabezado {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .barra {
    width: 200px;
    height: 20px;
    background-color: #eea42e;
    margin-bottom: 10px;
  }

  .linea {
    width: 350px;
    height: 10px;
    background: white;
    margin: 10px 0;
  }
  
  .linea_corta {
    width: 200px;
    height: 10px;
    background-color: white;
    margin-top: 10px;
  }

  .cuadrados {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-content: center;
    padding: 100px;
    background: white;
  }

  .cuadrado {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 10px;
    box-sizing: border-box;
  }
  
  .cuadrado_celeste {
    background: #c6eef5;
    border-top: 15px solid #87ddee;
  }

  .cuadrado2_celeste {
    width: 70px;
    height: 70px;
    background-color: #87ddee;
  }
  
  .cuadrado_naranja {
    background: #f8a46f;
    border-top: 15px solid #eb7c48;
  }

  .cuadrado2_naranja {
    width: 70px;
    height: 70px;
    background-color: #eb7c48;
  }

  .cuadrado_amarillo {
    background: #fbca81;
    border-top: 15px solid #f7b95c;
  }

  .cuadrado2_amarillo {
    width: 70px;
    height: 70px;
    background-color: #f7b95c;
  }

  .pie_de_pagina {
    display: flex;
    justify-content: space-around;
    background: #eee;
    padding: 30px 0;
  }
  
  .columna_pdp_contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .columna_pdp {
    width: 150px;
    height: 20px;
    background: #ccc;
    margin-bottom: 10px;
  }
  
  .linea_pdp {
    width: 150px;
    height: 5px;
    background-color: white;
    margin: 5px 0;
  }
  
  .linea_pdp_corta {
    width: 75px;
    height: 5px;
    background-color: white;
    margin: 5px 0;
  }