  body {
    margin: 0;
    font-family: sans-serif;
  }
  
  header {
    display: flex;
    background-color: #f8c963;
    align-items: center;
    padding: 30px;
  }
  
  .imagen_encabezado {
    width: 150px;
    height: 150px;
    background: #fcbf44;
    margin-right: 20px;
  }

  .texto_encabezado {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .barra {
    width: 350px;
    height: 20px;
    background-color: #f5b85d;
    margin-bottom: 10px;
  }

  .linea {
    width: 250px;
    height: 10px;
    background: white;
    margin: 5px 0;
  }
  
  .linea_corta {
    width: 100px;
    height: 10px;
    background-color: white;
    margin-top: 5px;
  }

  .cuadrados {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-content: center;
    padding: 40px;
    background: white;
  }

  .cuadrado {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 10px;
    box-sizing: border-box;
  }
  
  .cuadrado_celeste {
    background: #c6eef5;
    border-top: 10px solid #87ddee;
  }

  .cuadrado2_celeste {
    width: 50px;
    height: 50px;
    background-color: #87ddee;
  }
  
  .cuadrado_naranja {
    background: #f8a46f;
    border-top: 10px solid #eb7c48;
  }

  .cuadrado2_naranja {
    width: 50px;
    height: 50px;
    background-color: #eb7c48;
  }

  .cuadrado_amarillo {
    background: #f7e188;
    border-top: 10px solid #e9d054;
  }

  .cuadrado2_amarillo {
    width: 50px;
    height: 50px;
    background-color: #e9d054;
  }

  .pie_de_pagina {
    display: flex;
    justify-content: space-around;
    background: #eee;
    padding: 30px 0;
  }
  
  .columna_pdp {
    width: 80px;
    height: 40px;
    background: #ccc;
  }
  